.header {

    margin-bottom: 2rem;
    width: 50%
}

.header ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.header ul li {
    margin-right: 1rem;

}

.link {
    display: block;
    text-decoration: none;
    margin: 10px;
    border: 0;
    background: #bfbfbf;
    border-radius: 6px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    padding: .5rem 1rem;
}

:global(.active),
.header button:hover {
    cursor: pointer;
    background-color: #8f8f8f;
}