.display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
    gap: 10px;
}


.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 10px;
}

.card img {
    border-radius: 10px;
 
}

.card img:hover {
    cursor: pointer;
}